
.product-item {
    display: flex;
    flex-direction: row;
}


#root {
    background: #ededed;
}
/* Contenedor principal del producto */

.container svg {
    animation: none !important;
}

.product-view-details-section {
    width: 500px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
}

.product-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px auto;
    gap: 20px;
}

.product-view-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-view-price {
    color: #4caf50;
    font-weight: bold;
}

.product-view-stock {
    margin-bottom: 20px;
    color: #333;
}

.product-view-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    white-space: normal; /* Permite el salto de línea automático */
    overflow-wrap: break-word; /* Fuerza al texto a romperse si es muy largo */
    word-wrap: break-word; /* Soporte adicional para navegadores más antiguos */
    max-width: 100%; /* Asegura que el texto no sobrepase el ancho del contenedor */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
}

/*Quitar flechas campo input number*/
.product-view-quantity-input::-webkit-inner-spin-button,
.product-view-quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Formulario */
.product-view-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 20px;
    width: 100%;
}

/* Etiqueta */
.product-view-label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/* Input de cantidad */
.product-view-quantity-input {
    width: 60px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    text-align: center;
}

.product-view-quantity-input:focus {
    border-color: #3483fa;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 131, 250, 0.5);
}

/* Botones de cantidad (+ y -) */
.product-view-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.product-view-quantity-button {
    border: none;
    color: white;
    background-color: #3483fa;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    display: flex;
    align-items: center;
}

.product-view-quantity-button:hover {
    background-color: #296fdd;
}

.product-view-quantity-button:active {
    transform: scale(0.95);
}

.product-view-back-btn {
    padding: 5px 20px 5px 0px;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Botón agregar al carrito */
.product-view-add-to-cart-btn {
    background-color: #00a650;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    margin-top: 10px;
    width: 100%;
}

.product-view-add-to-cart-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.product-view-add-to-cart-btn:hover:not(:disabled) {
    background-color: #008a44;
}

.product-view-add-to-cart-btn:active:not(:disabled) {
    transform: scale(0.95);
}


/* Estilo Tabla de Caracteristicas */
.product-view-atributes {
    margin-top: 20px;
}

.product-view-atributes h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    /* Color del texto del encabezado */
}

.product-view-atributes table {
    width: 100%;
    /* Ancho completo */
    border-collapse: collapse;
    /* Colapsar los bordes */
    margin-top: 10px;
    /* Espaciado superior */
}

.product-view-atributes td,
.product-view-atributes th {
    border: 1px solid #ddd;
    /* Borde ligero */
    padding: 10px;
    /* Espaciado interno */
    text-align: left;
    /* Alinear texto a la izquierda */
}

.product-view-atributes th {
    background-color: #f4f4f4;
    /* Fondo del encabezado */
    color: #333;
    /* Color del texto del encabezado */
    font-weight: bold;
    /* Negrita para encabezados */
}
.product-view-atributes tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Fondo alternado para filas */
}
.product-view-atributes tr:hover {
    background-color: #f1f1f1;
    /* Fondo al pasar el ratón */
}

.product-item {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    box-sizing: content-box;
  }
  
  .product-item img {
    max-width: 100%;
  }

/* Carrusel principal */
.carousel {
    max-width: 600px;
    /* Limita el tamaño máximo del carrusel */
    margin-right: 20px;
}

.carousel .slide img {
    height: 400px;
    object-fit: contain;
    object-position: center;
}

/* Botones de navegación */
.carousel .control-arrow {
    padding: 10px;
    transition: background-color 0.3s ease;
}

/* Miniaturas del carrusel */
.carousel .thumbs-wrapper {
    margin-top: 20px;
    width: 100%;
}

.carousel .thumb {
    border-radius: 5px;
    margin: 5px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    border: 1px solid #ddd;
}

.carousel .thumb img {
    height: 90px;
    object-fit: contain;
    object-position: center;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
    opacity: 1;
    border: 2px solid #3483fa;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    background: #d3d3d3;
}

/* Estilos para centrar y ajustar el tamaño del modal */
.modal-dialog {
    max-width: 500px; /* Limita el ancho del modal */
    margin: 10px auto; /* Centra el modal */
}

.modal-content {
    max-height: 80vh; /* Limita la altura máxima del modal al 80% de la ventana */
    padding: 20px;
}

.modal{
    box-sizing:content-box;
}

.modal-backdrop.fade {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

/* Estilos responsivos */
@media (max-width: 1350px) {
    .product-view-container {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    .product-view-details-section, .carousel {
        max-width: 300px;
    }
    .carousel .thumb img {
        width: 50px;
        /* Miniaturas más pequeñas en pantallas pequeñas */
    }

    .carousel-root{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-list{
        max-width: 300px;
    }
    .product-image {
        width: 250px !important;
        height: 90px;
    }
    .product-item {
        flex-direction: column !important;
        align-items: center;
    }

    .modal-dialog {
        max-width: 300px; /* Limita el ancho del modal */
    }
}

.product-view-atributes table {
    table-layout: fixed; /* Fija el ancho de la tabla */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.product-view-atributes td,
.product-view-atributes th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    white-space: normal; /* Permite que el texto ocupe varias líneas si es necesario */
    word-wrap: break-word; /* Rompe las palabras largas si exceden el ancho */
    overflow-wrap: break-word; /* Soporte adicional para navegadores modernos */
}



